<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=logout" />

<style>
  /* Estilos generales */
  .container {
    height: 50px;
    width: 1100px;
    margin: auto;
    text-align: center;
    background: linear-gradient(to left, #e9fcff88, #1D3A6C);
    padding: 30px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
    border-radius: 12px;
  }
  .hea{
    margin-top: -20px;
  }
  .btmode{
    margin-left: 580px;
    margin-top: -35px;
    position: absolute;
  }
</style>
<div class="container">
  <div class="hea flex flex-col-reverse justify-between gap-6 md:flex-row md:items-center">
    <div class="capitalize">
      <!-- none  -->
    </div>
    <div class="flex items-center">
      <!-- Mostrar nombre del usuario -->
      <button routerLink="/profile"
        class="middle none font-sans font-bold center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-3 rounded-lg text-gray-500 hover:bg-blue-gray-500/10 active:bg-blue-gray-500/30 hidden items-center gap-1 px-4 xl:flex"
        type="button">
        <p>Bienvenido</p>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true"
          class="h-5 w-5 text-blue-gray-500">
          <path fill-rule="evenodd"
            d="M18.685 19.097A9.723 9.723 0 0021.75 12c0-5.385-4.365-9.75-9.75-9.75S2.25 6.615 2.25 12a9.723 9.723 0 003.065 7.097A9.716 9.716 0 0012 21.75a9.716 9.716 0 006.685-2.653zm-12.54-1.285A7.486 7.486 0 0112 15a7.486 7.486 0 015.855 2.812A8.224 8.224 0 0112 20.25a8.224 8.224 0 01-5.855-2.438zM15.75 9a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0z"
            clip-rule="evenodd"></path>
        </svg>
        {{ nombreUsuario || 'Usuario' }}
      </button>

      <!-- desplegar un menu donde este el boton para cerrar sesion  -->
      <button (click)="cerrarSesion()"
        class="middle none center mr-3 rounded-lg bg-red-500 py-2 px-4 font-sans text-xs font-bold uppercase text-white shadow-md shadow-red-500/20 transition-all hover:shadow-lg hover:shadow-red-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
        data-ripple-light="true"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960"
          width="24px" fill="#fff">
          <path
            d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h280v80H200Zm440-160-55-58 102-102H360v-80h327L585-622l55-58 200 200-200 200Z" />
        </svg>
      </button>

    </div>
    
  </div>
  <button class="btmode" (click)="toggleDarkMode()">🌙</button>

</div>
