<!-- component -->
 <style>
  .nt{
    height: 500px;
    background-color: #fff;
  }
  h1{
    color: #000729;
  }
 </style>
<main class="nt w-full flex flex-col justify-center items-center" >
  <h1 class="text-9xl font-extrabold tracking-widest">404</h1>
  <h3 class="text-2xl font-extrabold tracking-widest">pagina no encontrada</h3>
  <div>
    <!-- <button class="mt-5">
      <a routerLink="/login" class="relative inline-block text-sm font-medium text-[#000729] group active:text-orange-500 focus:outline-none focus:ring">
        <span class="absolute inset-0 transition-transform translate-x-0.5 translate-y-0.5 bg-[#000729] group-hover:translate-y-0 group-hover:translate-x-0"></span>
        <span class="relative block px-8 py-3 bg-[#fafbfd] border">
          <a routerLink="/login">volver</a>
        </span>
      </a>
    </button> -->
  </div>
</main>